#logofooter img{
  height: 60px;
  width: 90px;
  /* margin-left: 30px; */
  }
  #iconecocialfooter i {
    background-color: white;

    /* color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footernavigate a:hover  {
    color: #A41034 !important;
  }
  

