<app-header></app-header>
<div class="banier mx-0 ">
  <img src="../../assets/apropos/baniireapropos.png" alt="">
</div>

<h3 class="m-lg-5" style="color: #a41034;font-weight: 700; " >A-propos</h3>
<div class="container mx-0" >
  <div class="apropos d-flex">
    <div class="imageprop m-lg-5" >
      <img src="../../assets/apropos/Group 9993.png" alt="">
    </div>
    <div>
      <p>L’université cheick Anta Diop offre un espace d’échange et de suivie pour tout personne en quêtes de recherche de chambre dans le campus. De par son réseau les administrateurs hautement qualifié dans la plateforme ont les réponse a toutes vos questions et attentes L'université Cheikh Anta Diop de Dakar (UCAD) est la meilleure université en Afrique francophone selon le classement eduranking.org.<br>
        C'est un classement indépendant basé sur une évaluation de plus de 14.000 universités de 183 pays. Selon ce classement, l'UCAD occupe la 1ere place en Afrique Francophone et la 28ème place en Afrique.<br>
      La codification à l'UCAD est ouverte à tous les étudiants justifiant des titres requis, sans distinction de nationalité, de race, de sexe ni de religion, dans la limite des places disponibles et selon des procédures d'admission spécifiques à chaque établissement. </p><br> <br>

      <button class="btn btn-danger" style="margin-left: 20%; padding: 10px; margin-bottom: 25%;">
        Connectez vous pour plus de d'information
     </button>
    </div>
  </div>

  <div class="titre1">
    <h3 class="m-lg-5" style="color: #a41034;font-weight: 700; " >Services</h3>
  </div>
  <div class="container" style="margin-left: 20%;" >
    <!-- Section objectifs  -->
    <div class="containerservice  ">

        <div class="row mt-5 g-3" >
            <div class="col-md-4 mb-5">
              <img src="../../assets/service/loge.png" alt="">
                <div class="cardservice">
                    <h5 class="inactive fw-bold mb-3"> VOUS LOGER </h5>
                    <p>
                      Dès la venue de l’étudiant, le service de l’hébergement se charge de l’accueillir et de l’orienter afin qu’il puisse bénéficier des services du COUD.
                      Le service de l’hébergement porte une attention particulière aux étudiants venant à l’Université dans le cadre de conventions et aux étudiants étrangers boursiers dont le COUD a la charge.
                      C'est avec plaisir que nous accueillons des étudiants venant de plus de 40 pays.

                    </p>
                </div>
            </div>

            <div class="col-md-4 mb-5" style="margin-top: 30vh;" >
              <img src="../../assets/service/MANAGEMENT_PUBLIC_ET_GA_3_GF 2.png" alt="">
                <div class="card ">
                    <h5 class="inactive fw-bold mb-3">ETUDIANTS ETRANGERS</h5>
                    <p>
                      Dès la venue de l’étudiant, le service de l’hébergement se charge de l’accueillir et de l’orienter dans ses démarches afin qu’il puisse bénéficier des œuvres sociales du COUD.
                     Pour une bonne gestion des cités universitaires, des réformes ont été instaurés : une plateforme numérique de codifications pour garantir l’équité, la transparence et la justice. Les codifications sont réparties entre deux quotas : un quota pédagogique et un quota social.
                    </p>
                </div>
            </div>

            <div class="col-md-4 mb-5">
              <img src="../../assets/service/cultivee4052.png" alt="">
                <div class="cardservice ">
                    <h5 class="inactive fw-bold mb-3 ">VOUS CULTIVES</h5>
                    <p class="fs-7">Kaay débattre « Kaay débattre » est une compétition de prise de parole en public pour convaincre sur des thèmes d’actualités définis par un jury opposant universités et écoles de formations au sein de l’université Cheikh Anta DIOP ou chacun montre sa capacité intellectuelle avec éloquence, assurance, détermination et confiance en soi. L’objectif est faire des étudiants des orateurs de haut niveau et parler en public avec aisance .
                    </p>
                </div>
            </div>
        </div>
    </div>

  </div>
  <div class="titre2 mt-5">
    <h3 class="m-lg-5" style="color: #a41034;font-weight: 700; " >Actualites</h3>
  </div>
  <div class="videoservice col-3 text-center">
    <div>
      <iframe width="440" height="315" src="https://www.youtube.com/embed/_6sdi5CkJeo?si=PLS3gTaL48mdXmbt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div>
      <iframe width="440" height="315" src="https://www.youtube.com/embed/Lrt8qeVc_fE?si=RxPvUWHACPcImigV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div >
      <iframe width="440" height="315" src="https://www.youtube.com/embed/B-LMdB4E9UQ?si=Ia-rU9uBg719gBuT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class=" row actu  ">
    <div class="backgound d-flex gap-5 p-5">
  <div class="directctor">
    <img src="../../assets/actu/passationS1.jpg" alt="" style="width: 250px; border-radius: 10px;">
  </div>
    <div class="">
      <h5 id=""style="color: #a41034;font-weight: 700; ">Installation du nouveau directeur</h5>
      <p>Aussitôt installé dans ses fonctions de nouveau<br>
        directeur du COUD, Maguette Sène a décliné ses<br>
         objectifs.</p>
      <button class=" butt"style="color: black; padding ">Voir plus</button>
    </div>

  </div>
</div>
<h3 class="m-lg-5 mt-5" style="color: #a41034;font-weight: 700; " >Dernières actualités</h3>
<div class="lastactu row ">
      <div class=" cartes col-md-3  mt-5">
          <div class="img1 w-100">
            <img src="../../assets/actu/diawhonoreduc2.jpg" alt="">
          </div>
          <div class="  textinfo  text-center">
            <h5><strong>Celebration de la Femmes</strong></h5><br>
            <p>Les université célébres 08 MARS 2023
              À l’instar de la communauté internationale, l’intersyndicale des femmes du COUD ont célébré ce mercredi 08 mars la journée dédiée aux droits des femmes. Cette journée a débuté par un don de sang dans le hall du pavillon A. Un acte citoyen auquel les étudiants ont...</p>
          </div>
      </div>

      <div class=" cartes col-md-3  mt-5">
        <div class="img1 w-100">
          <img src="../../assets/actu/passationS1.jpg" alt="">
        </div>
        <div class="  textinfo  text-center">
          <h5><strong>Ceremonie de Remise de Diplome</strong></h5><br>
          <p> COUD: Le doyen Abdoulaye DIAW honoré par les anciennes di DUC22 MARS 2023
            L’amicale des anciennes duchesses a organisé mardi 22 Mars 2023, une cérémonie "Sargal" dédiée au journaliste/reporter sportif Monsieur Abdoulaye Diaw, mémoire vivante du sport Sénégalais... >
        </div>
    </div>

    <div class=" cartes col-md-3  mt-5">
      <div class="img1 w-100">
        <img src="../../assets/actu/coud.jpg" alt="">
      </div>
      <div class="  textinfo  text-center">
        <h5><strong>Rencontre administrative</strong></h5><br>
        <p>Le représentant des récipiendaires, Abdoulaye Tidiane HANNE a loué la qualité des enseignements dispensés « Chers Professeurs, la qualité de vos interventions et votre expertise incontestable, en général, et à l’UFR SEG, en particulier, toute sa notoriété »Il a déclaré que son héritage transmis avec vertu sera pour eux un leitmotiv.</p>
      </div>
  </div>

</div>

<h3 class="m-lg-5" style="color: #a41034;font-weight: 700; " >partenaires</h3>
<div class="partener d-flex gap-5" style="margin-left: 20%; margin-bottom: 20px; " >
  <img src="../../assets/partenaires/img1 2.png" alt="">
  <img src="../../assets/partenaires/img2 2.png" alt="">
  <img src="../../assets/partenaires/img3 2.png" alt="">
  <img src="../../assets/partenaires/img4 2.png" alt="">
  <img src="../../assets/partenaires/img5 2.png" alt="">
</div>

</div>




<app-footer></app-footer>

